@model List<TraineeWithDepartmentNameViewModel>
<td> <a href="/Trainee/New" class="btn btn-primary">New Student</a></td>
<table class="table table-bordered">
    <tr>
        <th>Trainee Name</th>

        <th>Trainee Address</th>
        <th>Grade</th>
        <th>Department</th>
        <th>Image</th>
        <th>Details</th>

    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TraineeName</td>
            <td>@item.Address</td>
            <td>@item.Grade</td>
            <td> @item.DepartmentName</td>
            <td><img src="/Images/@item.Image" width="100px"/></td>
            <td> 
                <a href="/Trainee/Details/@item?.Id" class="btn btn-primary">Details</a>
                <a href="/Trainee/Edit/@item?.Id" class="btn btn-primary">Edit</a>

            </td>
        </tr>
    }
</table>

